<div class="container">

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <h1 mat-dialog-title> {{'Enter User Details' | uppercase}} </h1>

        <mat-form-field appearance="fill">
            <mat-label> Username </mat-label>
            <input type="text" matInput formControlName="username" required>
            <mat-error *ngIf="userForm.controls.username.invalid"> {{getErrorMessage(userForm.controls.username)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Full Name </mat-label>
            <input type="text" matInput formControlName="fullName" required>
            <mat-error *ngIf="userForm.controls.fullName.invalid"> {{getErrorMessage(userForm.controls.fullName)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Email </mat-label>
            <input type="text" matInput formControlName="email" required>
            <mat-error *ngIf="userForm.controls.email.invalid"> {{getErrorMessage(userForm.controls.email)}}</mat-error>
        </mat-form-field>

        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-raised-button type="submit" color="primary" [disabled]="userForm.invalid"> {{submitButton}} </button>
        </mat-dialog-actions>
    </form>
</div>