<div class="container" *ngIf="events && !loading">
    <a class="addEvents" mat-fab color="warn" matTooltip="Add Event" (click)="addEvent()" aria-label="Add Event" *ngIf="getDateStatus()">
        <mat-icon>add</mat-icon>
    </a>

    <div class="header">
        <span>
            <h3 *ngIf="selectedView=='days'">Events on {{selectedDateValue | date}}</h3>
            <h3 *ngIf="selectedView=='months'">Events on {{selectedDateValue | date: 'MMMM, y'}}</h3>
        </span>
        <a mat-raised-button color="primary" title="Download JSON" [href]="downloadJsonHref" download="{{jsonFileName}}"
            *ngIf="downloadJsonHref"> Download Events </a>
    </div>

    <div class="content" *ngIf="events.length !=0">
        <mat-card *ngFor="let event of events">
            <div class="eventdate">
                <div>{{event.date | date: 'dd'}}</div>
                <div>{{event.date | date: 'MMM'}}</div>
            </div>
            <mat-card-content>
                <mat-card-title>{{event.name}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-icon> location_on</mat-icon> {{event.location}}
                </mat-card-subtitle>
                <p>
                    <mat-icon>access_time</mat-icon>
                    <span class="fromTime">{{event.time.from}}</span>
                    <span>{{event.time.to}}</span>
                </p>
                <p>
                  <b>Status:</b> {{event.status}}
                </p>
                <p>
                   <b>Hosted by @{{event.owner}}</b> 
                </p>
            </mat-card-content>

            <div class="actions" >
                <a mat-fab color="primary" *ngIf="enableEventActions(event)" (click)="editEvent(event)">
                    <mat-icon>edit</mat-icon>
                </a>
                <a mat-fab color="warn" *ngIf="enableEventActions(event)" (click)="deleteEvent(event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-card>
    </div>

    <div class="noContent" *ngIf="events.length == 0">
        <h2> No event on the selected day !! </h2>
    </div>
</div>

<div class="loading" *ngIf="loading"></div>

<ng-template #deleteConfirmation>
    <div mat-dialog-content>
        <p>Sure you want to delete this event?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">No</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
    </div>
</ng-template>