.container{
    height: 100%;
}

.addEvents{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 10;
}

.header{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid gray;
}

.header a{
    margin-left: auto;
}

.content{
    padding: 20px;
    position: relative;
}

.noContent{
    color: rgb(186, 186, 186);
    display: grid;
    place-items: center;
}

mat-card{
    margin: 10px 0;
    padding: 0;
    height: 200px;
    background-color: rgba(241, 135, 1, 0.3);
    display: flex;
}

mat-card-content{
    padding: 20px;
    width: 50%;
}

mat-card-title{
    margin-bottom: 15px;
}

mat-card-subtitle, p{
   display: flex;
   align-items: center;
}

.eventdate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: rgb(0, 0, 131, 0.5);
}

.eventdate div{
    font-size: 36px;
    font-weight: bold;
}

.eventdate div:first-child{
    font-weight: 400;
    font-size: 42px;
}


.fromTime::after{
    content: "-";
    margin: 5px;
}

.actions{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.actions a{
    margin:10px
}

