.container{
    height: 100%;
}

.addEvents{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 10;
}

.header{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid gray;
}

.header a{
    margin-left: auto;
}

.content{
    padding: 20px;
    position: relative;
}

.noContent{
    color: rgb(186, 186, 186);
    display: grid;
    place-items: center;
}

mat-card{
    margin: 10px 0;
    padding: 0;
    height: 200px;
    background-color: rgba(239, 241, 237);
    display: flex;
    border-radius: 20px;
}

mat-card:nth-child(even) .eventdate{
    background-image:linear-gradient(rgba(47, 69, 80), rgba(47, 69, 80, 0.4));
    color: whitesmoke;
}

mat-card:nth-child(odd) .eventdate{
    background-image:linear-gradient(rgba(81, 90, 71, 0.8), rgba(81, 90, 71, 0.1));
    color: whitesmoke;
}


mat-card-content{
    padding: 20px;
    width: 50%;
}

mat-card-title{
    margin-bottom: 15px;
}

mat-card-subtitle, p{
   display: flex;
   align-items: center;
}

.eventdate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: rgb(255, 119, 61, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.eventdate div{
    font-size: 36px;
    font-weight: bold;
}

.eventdate div:first-child{
    font-weight: 400;
    font-size: 42px;
}


.fromTime::after{
    content: "-";
    margin: 5px;
}

.actions{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.actions a{
    margin:10px
}

.dialogClass{
        height: 100px;
}

.cancel{
    display: flex;
    padding-left: 10px;
}

.cancel button{
    margin-left: auto;
}

.eventDetails{
    padding: 10px;
}

.eventDetails div{
    margin-bottom: 20px;
}

.eventDetails div:last-child{
    display: flex;
}

.selectedDate{
    display: flex; 
}

.selectedDate span:first-child{
    display: flex;
    align-items:center
}

.selectedDate span:last-child{
    margin-left: auto;
    display: flex;
    align-items:center
}


