.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.userActions{
    align-items: center;
}

.userActions a, .content button{
    margin: 10px;
}

table {
    width: 500px;
}