.container{
    display: grid;
    place-items: center;
    height: 100%;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.userActions{
    align-items: center;
}

.userActions a, .content button{
    margin: 10px;
}

table {
    width: 500px;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    padding: 10px 0;
    border-bottom: 2px solid #B7CECE;
}