<h2> User </h2>
<div class="content">
    <div *ngIf="users">
        <mat-form-field appearance="fill">
            <mat-label> Switch User </mat-label>
            <mat-select color="primary" [value]="this.selectedUser" (selectionChange)="changeUser($event)">
                <mat-option *ngFor="let user of users; let i=index" [value]="user.username">
                    {{user.username}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="userActions" mat-dialog-actions>
        <a mat-raised-button color="warn" (click)="addUser()"> Add New User </a>
        <a mat-raised-button color="primary" (click)="viewUsers()"> View Users </a>
    </div>
</div>

<ng-template #usersList>
    <h1 mat-dialog-title> View Users </h1>

    <div mat-dialog-content>
        <table mat-table [dataSource]="users">
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let user"> {{user.username}} </td>
            </ng-container>

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let user"> {{user.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let user"> 
                    <a mat-button color="primary" *ngIf="selectedUser == user.username" (click)="editUser(user)">
                        <mat-icon>edit</mat-icon>
                    </a>  
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['username', 'fullName', 'email', 'actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['username', 'fullName', 'email', 'actions'];"></tr>
        </table>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn">Close</button>
    </div>
</ng-template>

<ng-template #deleteConfirmation>
    <div mat-dialog-content>
        <p>Sure you want to delete this user?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">No</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
    </div>
</ng-template>