<h2> User </h2>
<div class="content">
    <form [formGroup]="userSelectForm" *ngIf="users" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label> Current logged in user </mat-label>
            <mat-select color="primary" formControlName="username">
                <mat-option *ngFor="let user of users; let i=index" [value]="user.username">
                    {{user.username}}
                </mat-option>
            </mat-select>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="userSelectForm.invalid || userSelectForm.pristine"> Switch User </button>
    </form>
    <span>
        <a mat-raised-button color="warn" (click)="addUser()"> Add New User </a>
        <a mat-raised-button color="accent" (click)="viewUsers()"> View Users </a>
    </span>
</div>

<ng-template #usersList>
    <!-- <div mat-dialog-content>
        <p>Sure you want to delete this event?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">No</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
    </div> -->
    <mat-card>
        <mat-card-header>
            <mat-card-title> View Users </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let user of users;">
                  <span> {{user.username}} </span>    
                    <span>
                        <a mat-button color="warn" (click)="deleteUser(user)">
                            <mat-icon>delete</mat-icon>
                        </a>
                        <a mat-button color="primary" [mat-dialog-close]="true" (click)="editUser(user)">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </span>
                </mat-list-item>
              </mat-list>
          </mat-card-content>
    </mat-card>

</ng-template>

<ng-template #deleteConfirmation>
    <div mat-dialog-content>
        <p>Sure you want to delete this user?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">No</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
    </div>
</ng-template>