.container{
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.leftPanel{
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 0 10px 2px rgb(40, 63, 59, 0.5);
}

.rightPanel{
    width: 50%; 
    height: 100%;
    overflow-y: scroll;
}

.users{
    display: grid;
    place-items: center;
    width: 100%;
    height: 200px;
}

.calendar{
    border-bottom: 2px solid gray;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    padding: 10px 0;
    border-bottom: 2px solid #B7CECE;
}

.month{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-bottom: 2px solid #B7CECE;
}

.month mat-select, .year{
    text-align: center;
    width: 200px;
    padding: 10px;
    background-color: rgba(241, 135, 1, 0.3);
    border-radius: 20px;
    font-weight: 700;
}

.week{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid #B7CECE;
    font-weight: bold;
}

.days{
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
    grid-auto-rows: minmax( 80px, auto);
}

.monthView{
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-auto-rows: minmax( 80px, auto);
    column-gap: 10px;
    row-gap: 10px;
}

.monthItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthItem a{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.date{
    background-color: rgba(42, 44, 151, 0.4);
}



.active{
    background-color: rgba(118, 120, 237);
}

.inactive{
    background-color: rgb(162, 162, 162);
}

.bubble{
    position: relative;
}

.bubble::after{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    top:0;
    right:4px;
    background-color: tomato;
    border-radius: 50%;
    z-index: 10;
}

.btngroup{
    border-radius: 10px;
}

.btngroup mat-button-toggle{
    padding: 3px 5px;
    background-color: tomato;
    color: white;
}

.mat-button-toggle-checked {
  background-color: rgb(191, 62, 39) !important;
}